'fileTypes': [
  'ino'
  'pde'
]
'name': 'Arduino'
'scopeName': 'source.arduino'
'patterns': [
  {
      'include': 'source.cpp'
  }

  # For compatibility with Atom versions < 0.166
  {
      'include': 'source.c++'
  }

  {
    'match': '\\b(boolean|byte|word)\\b'
    'name': 'storage.type.arduino'
  }
  {
    'match': '\\bString\\b'
    'name': 'support.class.arduino'
  }
  {
    'match': '\\b(HIGH|LOW|INPUT|INPUT_PULLUP|OUTPUT|LED_BUILTIN|CHANGE|RISING|FALLING)\\b'
    'name': 'constant.language.arduino'
  }
]
